.drawing-board {
  display: flex;
  flex-flow: column;
}

.drawing-board svg {
  background: #ddd;
  width: 100%;
  flex-grow: 1;
}

.drawing-board.mode-widget-insert {
  cursor: crosshair;
}

.drawing-board .selectable {
  cursor: pointer;
}

.drawing-board .clickable {
  cursor: pointer;
}
